Repository PRBonn/kiss-icp, pull requests merged in 2024-03, with the labels that each got.

#293 Create config executable
  python/README.md
  python/kiss_icp/config/parser.py
  python/pyproject.toml
Labels: python

#252 Add support for limiting num_threads in tbb task
  config/advanced.yaml
  cpp/kiss_icp/core/Registration.cpp
  cpp/kiss_icp/core/Registration.hpp
  cpp/kiss_icp/pipeline/KissICP.hpp
  python/kiss_icp/config/config.py
  python/kiss_icp/pybind/kiss_icp_pybind.cpp
  python/kiss_icp/registration.py
Labels: core, python

#294 Auto 2257 fix double construction kiss icp cpp
  cpp/kiss_icp/pipeline/KissICP.cpp
  cpp/kiss_icp/pipeline/KissICP.hpp
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
  ros/src/Utils.hpp
Labels: ros, core

#291 Nacho/get rid of get adjacent voxels
  cpp/kiss_icp/core/Registration.cpp
  cpp/kiss_icp/core/VoxelHashMap.cpp
  cpp/kiss_icp/core/VoxelHashMap.hpp
Labels: core

#284 Remove unnecessary path publishing pipeline
  ros/rviz/kiss_icp.rviz
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros

#288 Move responsability of handling tf frames out of Registration
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros

#289 Remove unnecessary exposed utility function from ROS API
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros

#283 Add odometry covariance to ros node
  ros/launch/odometry.launch.py
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros

#282 Refactor ROS parametrization
  ros/CMakeLists.txt
  ros/launch/odometry.launch.py
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros

#285 Fix and improve ROS visualization
  python/kiss_icp/tools/visualizer.py
  ros/rviz/kiss_icp.rviz
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros, python

#300 Fix bug where point would match with random point
  cpp/kiss_icp/core/Registration.cpp
Labels: core

#303 Use string for sequence
  python/kiss_icp/datasets/kitti.py
  python/kiss_icp/datasets/kitti_raw.py
  python/kiss_icp/datasets/nuscenes.py
  python/kiss_icp/tools/cmd.py
Labels: python

#305 Change default to None
  python/kiss_icp/tools/cmd.py
Labels: python
