Repository PRBonn/kiss-icp, pull requests merged in 2024-04, with the labels that each got.

#310 VoxelHashMap ereasing of the voxels
  cpp/kiss_icp/core/VoxelHashMap.cpp
Labels: core

#306 Add dataloader for HeLiPR
  python/kiss_icp/datasets/helipr.py
Labels: python

#314 Make rosbag dataloader take path to dir
  python/kiss_icp/datasets/rosbag.py
  python/kiss_icp/tools/cmd.py
Labels: python

#321 Get absolute path first in case . is data_dir
  python/kiss_icp/datasets/generic.py
Labels: python

#322 helipr - add to sequence dataloader, remove file extension check
  python/kiss_icp/datasets/__init__.py
  python/kiss_icp/datasets/helipr.py
Labels: python

#325 Typo in HeLIPR dataloader
  python/kiss_icp/datasets/helipr.py
Labels: python

#318 Refactor KissICP pipeline to mantain just 1 pose instead of full trajectory. Fixes #122
  cpp/kiss_icp/core/Deskew.cpp
  cpp/kiss_icp/core/Deskew.hpp
  cpp/kiss_icp/core/Registration.cpp
  cpp/kiss_icp/core/Registration.hpp
  cpp/kiss_icp/core/Threshold.cpp
  cpp/kiss_icp/core/Threshold.hpp
  cpp/kiss_icp/pipeline/KissICP.cpp
  cpp/kiss_icp/pipeline/KissICP.hpp
  python/kiss_icp/deskew.py
  python/kiss_icp/kiss_icp.py
  python/kiss_icp/pipeline.py
  python/kiss_icp/pybind/kiss_icp_pybind.cpp
  ros/src/OdometryServer.cpp
Labels: ros, core, python

#326 Consistent type for GT poses
  python/kiss_icp/datasets/helipr.py
  python/kiss_icp/datasets/paris_luco.py
  python/kiss_icp/metrics.py
Labels: python

#327 Change target names
  cpp/kiss_icp/core/CMakeLists.txt
  cpp/kiss_icp/metrics/CMakeLists.txt
  cpp/kiss_icp/pipeline/CMakeLists.txt
  python/kiss_icp/pybind/CMakeLists.txt
  ros/CMakeLists.txt
Labels: build

#324 Fix ATE
  cpp/kiss_icp/metrics/Metrics.cpp
Labels: core

#329 Remove personal workspaces
  .pre-commit-config.yaml
  cpp/kiss_icp/3rdparty/eigen/eigen.cmake
  cpp/kiss_icp/3rdparty/eigen/eigen.patch
  cpp/kiss_icp/3rdparty/sophus/sophus.cmake
  cpp/kiss_icp/3rdparty/sophus/sophus.patch
Labels: build

#331 Adjust Global Frame in odometry pipeline
  cpp/kiss_icp/pipeline/KissICP.hpp
Labels: core
