Repository PRBonn/kiss-icp, pull requests merged in 2024-07, with the labels that each got.

#356 Attempt to fix macOS CI
  .github/workflows/cpp.yml
  .github/workflows/pypi.yml
  .github/workflows/python.yml
Labels: CI

#353 mcap reader: Use extracted topic
  python/kiss_icp/datasets/mcap.py
Labels: python

#355 Add timestamps to mcap
  python/kiss_icp/datasets/mcap.py
Labels: python

#354 Make voxel computation consistent across all source code
  cpp/kiss_icp/core/Preprocessing.cpp
  cpp/kiss_icp/core/VoxelHashMap.cpp
  cpp/kiss_icp/core/VoxelHashMap.hpp
Labels: core

#361 Fix Ubuntu 20.04 dev build
  .github/workflows/cpp.yml
  cpp/kiss_icp/core/Deskew.cpp
  cpp/kiss_icp/core/Registration.cpp
Labels: core, build

#344 Handled Zero Division Error in pipeline.py
  python/kiss_icp/pipeline.py
Labels: python

#365 Fix include headers
  cpp/kiss_icp/core/Preprocessing.cpp
  cpp/kiss_icp/core/Preprocessing.hpp
  cpp/kiss_icp/core/Threshold.cpp
  cpp/kiss_icp/core/VoxelHashMap.cpp
  cpp/kiss_icp/metrics/Metrics.cpp
Labels: core

#364 Style changes in voxelization and preprocessing utilities
  cpp/kiss_icp/core/CMakeLists.txt
  cpp/kiss_icp/core/Preprocessing.cpp
  cpp/kiss_icp/core/Preprocessing.hpp
  cpp/kiss_icp/core/VoxelHashMap.cpp
  cpp/kiss_icp/core/VoxelHashMap.hpp
  cpp/kiss_icp/core/VoxelUtils.cpp
  cpp/kiss_icp/core/VoxelUtils.hpp
Labels: core

#369 Nacho/remove kitti from core library
  cpp/kiss_icp/core/Preprocessing.cpp
  cpp/kiss_icp/core/Preprocessing.hpp
  python/kiss_icp/pybind/kiss_icp_pybind.cpp
Labels: core

#371 Add LiDAR odometry to tf tree
  ros/launch/odometry.launch.py
  ros/rviz/kiss_icp.rviz
  ros/src/OdometryServer.cpp
  ros/src/OdometryServer.hpp
Labels: ros
