Repository PRBonn/kiss-icp, pull requests merged in 2025-01, with the labels that each got.

#410 Reduce memory allocation
  cpp/kiss_icp/core/VoxelHashMap.cpp
Labels: core

#411 Improve Runtime by reshaping the DataAssociation
  cpp/kiss_icp/core/Registration.cpp
Labels: core

#415 Use relative names for topics
  ros/rviz/kiss_icp.rviz
  ros/src/OdometryServer.cpp
Labels: ros

#416 Remove unused EigenToPointCloud2
  ros/src/Utils.hpp
Labels: ros

#417 Publish map in odom_lidar frame
  ros/src/OdometryServer.cpp
Labels: ros

#412 Preprocessing Pipeline
  cpp/kiss_icp/core/CMakeLists.txt
  cpp/kiss_icp/core/Deskew.cpp
  cpp/kiss_icp/core/Deskew.hpp
  cpp/kiss_icp/core/Preprocessing.cpp
  cpp/kiss_icp/core/Preprocessing.hpp
  cpp/kiss_icp/pipeline/KissICP.cpp
  cpp/kiss_icp/pipeline/KissICP.hpp
  python/kiss_icp/deskew.py
  python/kiss_icp/kiss_icp.py
  python/kiss_icp/pipeline.py
  python/kiss_icp/preprocess.py
  python/kiss_icp/pybind/kiss_icp_pybind.cpp
Labels: enhancement, core

#426 Remove paris luco dataset and plyfile dependency. Fixes #425
  eval/README.md
  python/kiss_icp/datasets/paris_luco.py
  python/pyproject.toml
Labels: python

#427 Simplify deskewing
  cpp/kiss_icp/core/Preprocessing.cpp
Labels: core

#428 Read Timestamps from PLY
  python/kiss_icp/datasets/generic.py
  python/pyproject.toml
Labels: python

#429 Change default config
  config/basic.yaml
  python/kiss_icp/config/config.py
Labels: core
